#DataContainer {
    background-color: #414245;
    border-radius: 6px;
}

#DataContainer:hover {
    background: #515357;
    border: 2px dashed #ad7d3d;
}

QListWidget::item {
    padding: 3px;
    margin: 5px;
}

QTableWidget::item:hover {
    background: #515357;
}

QTableWidget::item:selected {
    background: #9ae37d;
}

#Separator {
    background-color: #424242;
}
